button {
  margin: 5px;
}

article {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  width: 600px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;

  .main {
    margin: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .icon {
      height: 80px;
      margin: 1rem;
    }

    .right {
      display: flex;
      flex-direction: row;
    }
  }

  .details {
    margin: 0 1rem 0 1rem;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 90px;
      line-height: 30px;
    }
  }
}

@media (max-width: 700px) {
  article {
    margin-left: auto;
    margin-right: auto;
    width: 85%;

    .main {
      flex-direction: column;
      .left {
        display: flex;
        h3 {
          padding-left: 0.5rem;
        }
      }
    }
    .details {
      ul {
        height: auto;
      }
    }
  }
}
