<div class="vimeo-wrapper">
    <iframe *ngIf="currentWeatherData" [src]="chosenBackground" frameborder="0" allowfullscreen></iframe>
</div>
<section id='weather'>
    <form action="">
        <label for="input-city">City: </label>
        <input [(ngModel)]="location" id="input-city" name="city" type="text">
        <button (click)="handleSearch()">Find</button>
    </form>
</section>
<section>
    <app-current-weather *ngIf="currentWeatherData" [potato]="currentWeatherData"></app-current-weather>
</section>

<!-- https://api.openweathermap.org/data/2.5/weather?q=Wrocław&appid=7bd0dc94a3212db6f91d5eb723443c2f
 -->