// * {
//   font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
//     "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
// }

h1 {
  color: rgb(18, 172, 199);
  text-align: center;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  li {
    padding: 1rem;

    &:hover {
      background-color: aquamarine;
    }
  }
}

.turquoise {
  background-color: turquoise;
}

app-weather {
}
