<article>
    <ul class="forecast">
        <li class="day" *ngFor="let date of getForecastData()">
            <h4>{{date['dt_txt'] | date:'EEEE, d MMMM y' }}</h4>
            <div class="header">
                <img class="icon" *ngIf="ForecastWeatherIconSrc(date)" [src]="ForecastWeatherIconSrc(date)"
                    alt="weather icon">
                <div>
                    <h3>{{ ForecastTemperature(date) }}°C</h3>
                    <h4>{{ ForecastWeatherDesc(date) }}</h4>
                </div>
            </div>
            <ul class="details">
                <li>Pressure: {{ ForecastPressure(date) }} hPa</li>
                <li>Humidity: {{ ForecastHumidity(date) }}%</li>
                <li>Wind: {{ ForecastWind(date) }}m/s</li>
            </ul>
        </li>
    </ul>
</article>